[Desktop Entry]
Type=Application
Exec=xkbcomp /home/ruic/.xkbmap ":0"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=change-keyboard-layout
Name=change-keyboard-layout
Comment[en_GB]=Reads keyboard layout changes
Comment=Reads keyboard layout changes